extends layout
block content
    #header
        .search(tabindex=1)
        h2 PATH :
            span  支付宝
            span   双12
            span  支付宝
    #sidebar
        .info
        .category
        #list
    #wrapper
        #img(style="background:#000;")
            img(src="/123.jpg")

    script(src="/jquery-1.8.3.min.js")
    script#seajsnode(src='/sea-debug.js',data-main='init')
PATH : 支付宝 双12 支付宝

